.viewParentDiv {
  padding-top: 4em;
  display: flex;
}
.viewParentDiv .imageShowDiv {
  padding: 16px;
  width: 70%;
}
.viewParentDiv .imageShowDiv img {
  padding: 100px;
  width: 65%;
  height: 85%;
}

.viewParentDiv .rightSection {
  padding: 16px;
  margin-top: 10rem;
  margin-right: 50px;
  width: 30vw;
}

.viewParentDiv .rightSection .productDetails :first-child {
  font-weight: 700;
  margin-bottom: 8px;
  color: #002f34;
  font-size: 34px;
  line-height: 32px;
  margin-bottom: 20px;
}

.viewParentDiv .rightSection .productDetails {
  border: 1px solid black;
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 2em;
  width: 100%;
}

.viewParentDiv .rightSection .contactDetails {
  border: 1px solid black;
  padding: 6px;
  border-radius: 6px;
}

.viewParentDiv .rightSection .contactDetails :first-child {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #002f34;
  font-weight: 400;
  padding: 0;
}

@media screen and (max-width:416px) {
  .viewParentDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .imageShowDiv {
    width: 100%;
  }
  .viewParentDiv .imageShowDiv img{
    height: 400px;
    width: 99%;
    margin-left: -50px;
  }
  .rightSection{
    margin-left: 100px;
  }
  .viewParentDiv .rightSection {
    margin-top: -100px;
    width: 95%;
    margin-left: -10px;
  }
  .contactDetails{

  }

}